
/*<Product  id={product._id} img={"data:"+product.image.contentType+";base64,"+product.image.imgBuffer} name={product.title} owner={product.owner} description={product.description} price={product.price} promoPrice={product.promoPrice} onSale={product.onSale}/>*/
#Product .scrolling-wrapper{
	overflow-x: auto;
	height: 380px;
}





@media (min-width: 1024px) {
	#Product .scrolling-wrapper{
		overflow-x: auto;
		height: 470px;
	}
}
